   .login_outer {
            width: 400px;
            max-width: 100%;
            background-color: rgba(255, 255, 255, 0.134);
            backdrop-filter: blur(5px);
            padding: 20px;
            border-radius: 5%;
        }

        .logo_outer {
            text-align: center;
        }

        .logo_outer img {
            width: 120px;
            margin-bottom: 40px;
        }

        .container-fluid {
            background-image: url("../images/loginpageimg.jpg");
            background-size: cover;
            background-position: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            opacity: 95%;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url("../images/loginpageimg.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            opacity: 0.95;
        }

      

        /* Style for the "Sign up" button to make it green */
       .btn{
        color: rgb(255, 255, 255) !important;
        background-color: rgb(3, 168, 6) !important;
       }